<!DOCTYPE html>
<html>
<head>
    <title>Flask App</title>
    <style>
        html, body {
            margin: 0;
            padding: 0;
            height: 100%;
        }
        .background {
            background-image: url('/static/Background.jpg');
            background-size: cover;
            background-position: center center;
            height: 100%;
            width: 100%;
            position: absolute;
        }
    </style>
</head>
<body>
    <div class="background"></div>
</body>
</html>
